:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
}

body {
  direction: rtl;
}
.section-one p {
  color: #bd944f;
  font-weight: bold;
}
.section-one {
  background: linear-gradient(to bottom, transparent, 85%, var(--white)), url("./public/Layer2.png");
  position: relative;
  background-position: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 8rem;
}
.p-tag {
  font-size: 3.125rem;
  text-align: center;
  margin: 6rem 6rem 3rem;
}
.p-tag-second {
  font-size: 3.125rem;
  text-align: center;
  margin: 3rem 3rem 4rem;
}
.card-one {
  display: flex;
  flex-direction: row-reverse;
  padding: .5rem;
  width: 32rem;
  /* height: 18rem; */
  background-color: var(--white);
  margin-top: 4rem;
}
.card-one-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}
.card-two-holder {
  margin: 1rem;
}
.cards {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 4rem;
}
.card-p {
  font-size: 2rem;
  margin: 1rem;
}
.card-p-second {
  font-size: 2rem;
  margin: 1rem;
}
a {
  text-decoration: none;
}
.card-link {
  align-self: flex-end;
  font-size: 1.75rem;
  color: var(--black);
  background-color: transparent;
}
a:hover {
  font-weight: bold;
  /* text-decoration: underline; */
}
.card-img {
  height: 22rem;
}
.card-two {
  display: flex;
  flex-direction: column-reverse;
  padding: 0.5rem;
  width: 24rem;
  /* height: 18rem; */
  background-color: var(--white);
  margin-top: 4rem;
}
.card-link-two {
  display: flex;
  justify-content: flex-end;
  font-size: 1.75rem;
  color: var(--black);
  background-color: transparent;
}
.promo-holder {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.group-img {
  /* width: 38.625rem;
  height: 20.875rem; */
  align-self: center;
  width: 40%;
}
.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards-section-two {
  display: flex;
  flex-direction: column;
}
.cards-order {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sec-two-card {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.img-card-two {
  width: 32rem;
  height: 29rem;
}
.sec-two-card .card-link {
  margin: .75rem 0 1.5rem;
}
.footer-base {
  font-size: 1.875rem;
  text-align: center;
  margin: 8rem 2rem 2rem;
}
.cards-section-two::before {
  content: "";
  position: absolute;
  left: 0;
  top: 330%;
  width: 12rem;
  height: 62rem;
  background: url("./public/sideVector.png");
}
.nav-sec-img {
  width: 54rem;
  height: 26rem;
  align-self: center;
}
.interactive-nav {
  margin-bottom: 35rem;
}
.nav-second {
  margin-top: 8rem;
}
.nav-third-img-two {
  width: 16rem;
  height: 24rem;
}
.nav-third-img-one {
  width: 16rem;
  height: 13.5rem;
}
.nav-first-img-one {
  width: 17rem;
  height: 17.5rem;
}
.nav-first-img-two {
  width: 17.125rem;
  height: 28rem;
}
/* .nav-first {
  display: flex;
  flex-direction: column;
} */
.nav-first::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5rem;
  width: 15.25rem;
  height: 16.5rem;
  background: url("./public/BackgroundCopyLeft.png");
}
.nav-first::after {
  content: "";
  position: absolute;
  right: 71%;
  top: 7rem;
  width: 22rem;
  height: 35rem;
  background: url("./public/BackgroundLeft.png");
}
/* .nav-third {
  display: flex;
  flex-direction: column;
} */
.nav-third::before {
  content: "";
  position: absolute;
  right: 8rem;
  top: 2rem;
  width: 18rem;
  height: 16rem;
  background: url("./public/BackgroundCopyRight.png");
}
.nav-third::after {
  content: "";
  position: absolute;
  right: 0;
  top: 17rem;
  width: 19rem;
  height: 30rem;
  background: url("./public/BackgroundRight.png");
}
.nav-second::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 28rem;
  height: 37rem;
  background: url("./public/vectirMine.png");
}
.nav-second::after {
  content: "";
  position: absolute;
  top: 8rem;
  left: 50%;
  width: 58rem;
  margin-left: -28rem;
  height: 30rem;
  background: url("./public/vector.png");
}
/* @media screen and (max-width: 1445px) {
  .nav-first::after {
    left: 0;
    top: 7rem;
  }
} */
.img-card-three {
  display: none;
}
@media screen and (max-width: 1265px) {
  .nav-first::after {
    display: none;
  }
  .nav-third::after {
    top: 22rem;
  }
  .nav-third::before {
    top: 1rem;
    right: 1rem;
  }
}
@media screen and (max-width: 1458px) {
  .cards-section-two::before {
    display: none;
  }
}
@media screen and (max-width: 1048px) {
  .cards {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .card-link {
    align-self: center;
    margin-right: 18rem;
  }
  .card-one {
    align-self: center;
  }
  .card-two {
    align-self: center;
  }
  .card-two-holder {
    display: flex;
    flex-direction: column;
  }
  .card-link-two {
    align-self: center;
    margin-right: 10rem;
  }
}
@media screen and (max-width: 1060px) {
  .cards-order {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  .nav-second::after {
    top: 4rem;
    width: 24rem;
    margin-left: -12rem;
    height: 14rem;
    background: url("./public/vectorSmall.png");
  }
  .nav-second::before {
    right: 0;
    top: 0;
    width: 6rem;
    height: 15.35rem;
    background: url("./public/vectorObjectSmall.png");
  }
  .nav-third::before {
    right: 8rem;
    top: 2rem;
    width: 6rem;
    height: 5rem;
    background: url("./public/smallCopyRight.png");
  }
  .nav-third::after {
    content: "";
    position: absolute;
    right: 0;
    top: 8rem;
    width: 5rem;
    height: 9rem;
    background: url("./public/smallRight.png");
  }
  .nav-first::before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 0;
    width: 6.25rem;
    height: 5.35rem;
    background: url("./public/smallLeft.png");
  }
  .nav-first::after {
    content: "";
    position: absolute;
    display: block;
    left: 1rem;
    top: 8rem;
    width: 7rem;
    height: 10.75rem;
    background: url("./public/smallCopyLeft.png");
  }
  .interactive-nav {
    margin-bottom: 10rem;
  }
  .p-tag-second {
    font-size: 1.438rem;
    margin: 3rem 1rem;
  }
  .p-tag {
    font-size: 1.813rem;
    margin: 6rem 1rem 0;
  }
  .card-p-second {
    font-size: 1.813rem;
  }
  .card-p {
    font-size: 1.813rem;
  }
  .card-two {
    margin-top: 0;
  }
  .group-img {
    margin-top: 3rem;
    width: 70vw;
  }
  .footer-base {
    margin: 8rem 1rem 2rem;
  }
}
@media screen and (max-width: 570px) {
  .img-card-two {
    display: none;
  }
  .img-card-three {
    display: block;
  }
  .cards-order {
    flex-direction: row;
  }
  .card-two {
    width: 22rem;
  }
  .card-one {
    width: 22rem;
  }
  .card-p {
    font-size: 1.563rem;
  }
  .card-p-second {
    font-size: 1.563rem;
  }
  .card-img {
    height: 13rem;
    width: 10rem;
  }
  .card-link {
    margin-right: 12rem;
    font-size: 1.125rem;
  }
  .card-link-two {
    margin-right: 12rem;
    font-size: 1.125rem;
  }
  .group-img {
    width: 23rem;
  }
  .footer-base {
    font-size: 0.938rem;
    margin-top: 5rem;
  }
  .promo-holder .p-tag {
    margin-top: 3rem;
  }
  .nav-third::before {
    right: 2rem;
    top: 2rem;
  }
  .nav-third::after {
    right: 0;
    top: 13rem;
  }
  .nav-first::after {
    content: "";
    position: absolute;
    display: block;
    right: 50%;
    top: 10rem;
    width: 7rem;
    margin-right: -3.5rem;
  }
  .section-one {
    margin-bottom: 6rem;
  }
}